



body {
  margin: 0;
  background: #b0b5c3;
  color: #32333a;
  font-family: sans-serif;
  position: relative;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 60px 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

p {
  line-height: 1.8;
  color: #161c27;
}

.formula {
  margin: 30px 0;
  padding: 20px;
  background: rgba(255,255,255,0.05);
  border-radius: 10px;
  text-align: center;
  font-size: 1.4rem;
}

details {
  margin-top: 30px;
  padding: 15px;
  background: rgba(255,255,255,0.05);
  border-radius: 10px;
}

summary {
  cursor: pointer;
  font-weight: bold;
}


.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 120px;
  padding: 32px 24px;
  background: rgba(255, 255, 255, 0.04);
  border-right: 1px solid rgba(255, 255, 255, 0.12);
  position: sticky;
  top: 0;
  height: 100vh;
}

.sidebar h2 {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 24px;
}

.sidebar a {
  display: block;
  color: #5b6cc4;
  text-decoration: none;
  margin: 14px 0;
}

.sidebar a:hover {
  color: #ffffff;
}

.content {
  max-width: 820px;
  padding: 64px 40px;
}

@media (max-width: 700px) {
  .layout {
    display: block;
  }

  .sidebar {
    width: auto;
    height: auto;
    position: static;
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  }

  .content {
    padding: 40px 20px;
  }
}


.music-list {
  display: grid;
  gap: 24px;
  margin-top: 40px;
}

.music-card {
  padding: 20px 24px;
  border-radius: 16px;
  background: rgba(255,255,255,0.05);
  border: 2px solid rgba(180,200,255,0.2);
}

.music-card h2 {
  margin: 0 0 6px;
  font-size: 1.3rem;
}

.artist {
  font-size: 0.9rem;
  color: #4b4f63;
  margin-bottom: 12px;
}

.music-card a {
  display: inline-block;
  margin-bottom: 12px;
  color: #7aa2ff;
  text-decoration: none;
}

.music-card a:hover {
  color: #ffffff;
}

.description {
  font-size: 0.95rem;
  color: #e0e4f2;
}

html {
  scroll-behavior: smooth;
}

.thumb {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.2s;
}

.thumb:hover {
  transform: scale(1.03);
}


/* ノイズレイヤー */
body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url("paper.jpeg");
  background-size: cover;

  opacity: 0.3;  /* ←ここで強さ調整 */
  pointer-events: none;

  mix-blend-mode: overlay; /* ←質感が乗る */
}